* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.jumbotron {
  background:#624751;
  padding-top: 5%;
  padding-bottom: 5%;
  /* margin-bottom: removes white space between header and section */
  margin-bottom: 0;
}

.img-container {
  text-align: center;
}

.img-circle {
  width: 210px;
  height: 200px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}

.about-container, .experience-container {
  background: white;
  color: #624751;
  /* margin-bottom: removes white space between header and section */
  margin-bottom: 0;
  font-family: "Domine", serif;
  text-align: left;
  padding: 5%;
}

.about-header, .portfolio-header, .experience-header {
  padding-bottom: 30px;
  color: #D5D4D5;
  font-family: 'Ultra', serif;
}

/* H5s */
.header {
  font-weight: bold;
}

.portfolio-container {
  background: #f5f5f5;
  margin-bottom: 0;
  font-family: "Domine", serif;
  text-align: left;
  padding: 5%;
}

.content-container {
  color: white;
  font-family: "Domine", serif;
  text-align: center;
}

 /* Card styling  */
 .card {
   border-radius: 2%;
   box-shadow: 3px 3px 8px hsl(0, 0%, 70%);
   text-decoration: none;
 }

 div a, a:hover {
  text-decoration: none;
}

div a:hover {
  opacity: 0.7;
}

 /* Experience section styling  */

 .experience-content {
  padding-bottom: 30px;
 }

