* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.jumbotron {
  /* background: url('http://placekitten.com/800/500') no-repeat center center;
    background-size: cover; */
  /* background: linear-gradient(to bottom left, #006666 0%, #996633 100%); */
  background:#624751;
  padding-top: 5%;
  padding-bottom: 5%;
  /* margin-bottom: removes white space between header and section */
  margin-bottom: 0;
}

.about-container {
  background: white;
  color: #624751;
  /* margin-bottom: removes white space between header and section */
  margin-bottom: 0;
  font-family: "Domine", serif;
  text-align: left;
  padding: 5%;
}

.portfolio-container {
  background: #f5f5f5;
  margin-bottom: 0;
  font-family: "Domine", serif;
  text-align: left;
  padding: 5%;
}

.about-header {
  padding-bottom: 30px;
  color: #D5D4D5;
  font-family: 'Ultra', serif;
}

.portfolio-header {
  padding-bottom: 30px;
  font-family: 'Ultra', serif;
  color: #D5D4D5;
}

.content-container {
  color: white;
  font-family: "Domine", serif;
  text-align: center;
}

.img-container {
  text-align: center;
}

.img-circle {
  width: 210px;
  height: 200px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}

.btn {
 background: #624751;
 width: 50%;
 color: #FFFF;
}



